<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MLFloatHelpView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MLLaunchADView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UI_PRO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8AC224B81D41BECC002BC2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AC224D61D41C78E002BC2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AC224F11D41C7C2002BC2FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AFF21871D47385F005D2A5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
